/**
 * Atlas UI - Complete CSS Bundle
 *
 * Import this file to get all Atlas UI styles.
 *
 * @example
 * @import '@casoon/atlas-ui/css';
 */

/* Design Tokens */
@import './tokens/index.css';

/* Components */
@import './components/index.css';
